<div ng-controller="cckCtrl" class="cck-page" id="wrapper">
	<div class="fixed">
		悬浮按钮
	</div>
	<div class="content-page" ng-class="{'top': !header, 'topHeader': header, 'bottom0': !footer, 'bottomFooter': footer}">
		<div class="search-tab" ng-click="goRouter('layout.cck-search')">
			搜索
		</div>
		<div class="tab-list">
			<div class="item-tab" ng-click="goRouter('layout.cck-ccktitles')">
				育儿知识
			</div>
			<div class="item-tab" ng-click="goRouter('layout.cck-recipes')">
				营养食谱
			</div>
			<div class="item-tab" ng-click="goRouter('layout.cck-food')">
				能不能吃
			</div>
			<div class="item-tab" ng-click="goRouter('layout.cck-musictitles')">
				宝宝听听
			</div>
		</div>
		<div class="collection-tab" ng-click="goCollection()">
			我的收藏
		</div>
		<div class="collection-tab" ng-click="goCollection()">
			我的收藏
		</div>
		<div class="collection-tab" ng-click="goCollection()">
			我的收藏
		</div>
		<div class="collection-tab" ng-click="goCollection()">
			我的收藏
		</div>
		<div class="collection-tab" ng-click="goCollection()">
			我的收藏
		</div>
		<div class="collection-tab" ng-click="goCollection()">
			我的收藏
		</div>
		<div class="collection-tab" ng-click="goCollection()">
			我的收藏
		</div>
	</div>
</div>