<div ng-controller="searchfoodCtrl" class="searchfood-page">
	<div class="search-nav">
		<div class="search-input">
			<input type="text" ng-model="searchValue" ng-change="valueChange()">
			<a class="icon_clear" ng-hide="showBack" ng-click="clear()"></a>
		</div>
		<div class="search-btn">
			<p ng-show="showBack" ng-click="back()">取消</p>
			<p ng-hide="showBack" ng-click="search()">搜索</p>
		</div>
	</div>
	<div class="content-page" ng-class="{'topHeader': header, 'bottomFooter': footer}">
		<div class="search-results">
			<div ng-if="foodinfos.length>0" class="food-item" ng-repeat="foodinfo in foodinfos" ng-click="goDetail(foodinfo)">
				<div class="item-left">
					<img ng-src="{{foodinfo.imageUrl}}">
				</div>
				<div class="item-right" ng-class="{'bb-gray': $last==false}">
					<p ng-bind="foodinfo.name"></p>
					<p ng-bind="foodinfo.prompt"></p>
					<p ng-bind="foodinfo.description | limitTo: 40"></p>
				</div>
			</div>
			<p class="no-result" ng-if="foodinfos.length==0 && showNoResults">未搜索到关于"{{searchValue}}"的信息</p>
		</div>
	</div>
</div>