<div ng-controller="searchRecipesCtrl" class="searchRecipes-page">
	<div class="search-nav">
		<div class="search-input">
			<input ng-model="searchValue" type="text" ng-change="valueChange()">
			<a class="icon_clear" ng-hide="showBack" ng-click="clear()"></a>
		</div>
		<div class="search-btn">
			<p ng-show="showBack" ng-click="back()">取消</p>
			<p ng-hide="showBack" ng-click="search()">搜索</p>
		</div>
	</div>
	<div class="search-results">
		<div ng-if="nrInfos.length>0" class="nrInfo-item" ng-repeat="nrInfo in nrInfos" ng-click="goDetail(nrInfo)" ng-class="{'bb-gray': $last==false}">
			<div class="item-left">
				<img ng-src="{{nrInfo.imageUrl}}">
			</div>
			<div class="item-right">
				<p ng-bind="nrInfo.title"></p>
				<p ng-bind="nrInfo.description | limitTo: 40"></p>
			</div>
		</div>
		<p class="no-result" ng-if="nrInfos.length==0 && showNoResults">未搜索到关于"{{searchValue}}"的信息</p>
	</div>
</div>